#search_reset{
    color: red;
    vertical-align: middle;
    padding: 7px;
    padding-left: 0px;
}

#search_reset:hover{
    cursor: pointer;
}
#order-search{
    margin-left: -2%;
    padding-right: 0;
}
#btn-download{
    margin-left: 3%;
}

#btn_reset_div{
    padding: 0;
}

.head_address {
    background-color: darkgray;
}


#map {
    width: 100%;
    height: 95%;
}
html, body {
    width: 100%;
    height: 95%;
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 14px;
}
#map {
    width: 50%;
    height: 50%;
}

/*#div2{*/
/*    height: 30%;*/
/*    display: table-cell;*/
/*    vertical-align: top;*/
/*}*/
.header {
    padding: 5px;
}

#iframeMap{
    width: 800px;
    height: 600px;
    border: none;
}

#success{
    display: none;
    color: green;
}

#fail{
    display: none;
    color: red;
}

.fa-trash{
    color:red;
}

.download_link{
    color:white;
}

.table-doc{
    width:25%;
}